*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#ffb6d5,#ffe6f0);
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Arial, sans-serif;
}

.card{
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
  width:320px;
  box-shadow:0 10px 30px rgba(0,0,0,.2);
  animation:entrar 1.5s;
}

@keyframes entrar{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}

h1{
  color:#ff5fa2;
  margin-bottom:15px;
}

.imagem{
  width:100%;
  border-radius:15px;
  margin-bottom:15px;
}

p{
  font-size:15px;
  color:#444;
  min-height:60px;
}

button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  border-radius:30px;
  background:#ff5fa2;
  color:white;
  cursor:pointer;
  font-size:14px;
  transition:.3s;
}

button:hover{
  transform:scale(1.05);
}
